* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  backdrop-filter: blur(16px);
  background-color: rgba(232, 229, 228, 0.5);
  border-radius: 100px;
  opacity: 1;
  max-width: 300px;
  flex: 1 0 0px;
  gap: 10px;
  height: min-content;
  overflow: visible;
  position: relative;
  margin: 2rem auto;
}

nav a {
  text-decoration: none;
  color: black;
  outline: none;
  width: 100%;
  border-radius: 100px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-weight: 100;
  font-size: 0.9rem;
  margin: 4px;
}
h1 {
    width: 800px;
    margin: auto;
    font-size: 420%;
    text-align: center;
    font-weight: 550;
    font-family:sans-serif;
    margin-top: 3.5em;
    margin-bottom: 0.9em;
}
#current {
  background: rgb(255, 255, 255);
}

main {
  display: flex;
  margin: 40px;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery_image {

    position:relative;
    max-width: 50%;
    overflow: hidden;
    border-radius: 10px;
    /* border: 1px solid gray; */
    text-align: center;
}

img:hover, video:hover {
    opacity: 1;
    filter: blur(12px) brightness(70%);
    overflow: hidden;
    transition: 0.2s -webkit-filter linear;
}
img:hover .gallery_text {
    visibility: visible;
    opacity: 1;
}

.gallery_text {
    position: absolute;
    top: 1rem;
    left: 1rem;
    opacity: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px 40px 200px;
  font-size: 0.8rem;
}

.footer__name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__name svg {
  width: 30px;
}

.footer__links {
  display: flex;
  gap: 15px;
}

.footer__links a {
  text-decoration: none;
  color: black;
}

.shopbutton {
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  margin: 0 auto;
  bottom: 30px;
  background-color: black;
  border-radius: 100px;
  padding: 12px 15px 12px 15px;
  width: fit-content;
}

.shopbutton a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}
